.profile__avatar-edit{
  opacity: 0;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 47px;
  left: 47px;
  transition: opacity 0.5s;
}

.profile__avatar:hover .profile__avatar-edit{
  opacity: 1;
  transition: opacity 0.5s;
}