.header__logo{
  margin-bottom: 38px;
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 880px){
  .header__logo{
    margin-bottom: 31px;
    max-width: 104px;
    max-height: 24px;
  }
}
