.profile__edit{
  margin: 15px 0 0 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  background: url(../../../images/edit.svg) no-repeat center;
  cursor: pointer;
  transition: opacity 0.5s;
}
.profile__edit:hover{
  opacity: 0.6;
  transition: opacity 0.5s;
}

@media screen and (max-width: 880px){
  .profile__edit{
    margin: 10px 0 0 10px;
    width: 18px;
    height: 18px;
  }
}
