.profile{
  margin: 40px auto 0;
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 880px){
  .profile{
    margin: 42px auto 0;
    width: 90%;
    min-width: 282px;
    flex-direction: column;
  }
}
