.elements__item-like-button{
  width: 22px;
  height: 19px;
  border: 0;
  outline: 0;
  background: url(../../../images/like.svg) no-repeat center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.elements__item-like:hover{
  opacity: 0.6;
  transition: opacity 0.5s;
}
