.profile__description{
  margin: 10px 0 0;
  padding: 0;
  max-width: 400px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px){
  .profile__description{
    max-width: 235px;
    font-size: 14px;
    line-height: 17px;
  }
}
