.footer__text{
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 880px){
  .footer__text{
    font-size: 14px;
    line-height: 17px;
  }
}
