.popup__submit{
  width: 100%;
  margin: 52px 0 0;
  padding: 14px 0;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.popup__submit:hover{
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (max-width: 880px){
  .popup__submit{
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}
