.elements__item-delete{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: 0;
  outline: 0;
  background: url(../../../images/trash.svg) no-repeat center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.elements__item-delete:hover{
  opacity: 0.6;
  transition: opacity 0.5s;
}
