.footer{
  margin: 66px auto 0;
  padding-bottom: 60px;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 880px){
  .footer{
    width: calc(100% - 38px);
    margin: 48px auto 0;
    padding: 0 19px 36px;
  }
}
